    <section layout="row" flex>
        <md-sidenav fe-side-nav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        </md-sidenav>
        <div layout="column" flex>
            <md-toolbar fe-header layout="row" md-scroll-shrink="true">
            </md-toolbar>
            <md-content class="md-padding" md-swipe-right="vm.toggleSidenav('left')" layout="column" flex id="content" ui-view="content">
            </md-content>
            <div class="loadingView" ng-show="vm.showLoading" layout="column" layout-align="center center" layout-fill>
                <md-progress-circular md-mode="indeterminate" md-diameter="60"></md-progress-circular>
            </div>
        </div>
        <md-button class="md-fab md-fab-bottom-right md-primary" aria-label="Add" ng-click="vm.openBlogEntry('new')" ng-show="vm.showFAB()">
            <ng-md-icon icon="add" style="fill: white;"></ng-md-icon>
        </md-button>
        
   </section>