                <div class="md-toolbar-tools">
                    <button ng-click="vm.toggleSidenav('left')" class="menuBtn" hide-gt-md>
                        <span class="visually-hidden">Menu</span>
                    </button>
                    <span flex></span>
                    <h1>feBlog</h1>
                    <span flex></span>
                    <md-button ng-click="vm.refreshList()">
                        <ng-md-icon icon="refresh" style="fill:white;" aria-label="refresh"></ng-md-icon>
                    </md-button>
                    <md-button>
                        <ng-md-icon icon="more_vert" style="fill:white;" aria-label="more..."></ng-md-icon>
                    </md-button>
                </div>